# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
*.log

# Next.js
.next/
out/
build/

# Production
dist/

# Misc
.DS_Store
*.pem
*.tsbuildinfo

# Environment variables
.env
.env*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Vercel
.vercel

# TypeScript
next-env.d.ts

# Hardhat
cache/
artifacts/
fhevmTemp/
types/

# Contract specific
typechain-types/
coverage.json

